:root{
    --main: rgb(23, 28, 32);
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.start{
    width: 100%;
    z-index: 100;
  top: 10rem;
}

.start a{
    font-size: 6rem;
}

.column{
    width: 10%;
    height: 100%;
    position: absolute;
    top: 100%;

}

/* .right{
    right: 0;
    border-left: dashed 5px var(--main);
}

.left{
    left: 0;
    border-right: dashed 5px var(--main);
} */

.two{
    padding: 0 .5rem;
    padding-top: 200rem;
}


.categories{
    right: 0;
    padding-top: 5px;
    position: absolute;
    width: 50%;
    display: flex;
    z-index: 100;
    justify-content: space-between;
}

.categories a, .menu a {
    font-size: 5rem;
    text-decoration: none !important;
    color: black;
}

.menu{
    width: 100%;
    height: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 101;
}
.menu div{
    justify-content: end;
    position: sticky;    display: flex;
  gap: 3rem;
  right: 0;
  top: 0;
}

.presentazione{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.presentazione img{
    width: 20%;
}

.element{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
.element:nth-child(even){
    border-bottom: pink solid 5px;
    border-right: pink solid 5px;
}
.element:nth-child(odd){
    border-bottom: black solid 5px;
    border-right: black solid 5px;
}

#closeMenu{
    display: block;
    text-align: right;
    font-size: 3rem;
    color: black;
    -webkit-text-stroke: 1px pink;
}

#closeMenu:hover{
    color: pink;
    -webkit-text-stroke: 2px black;
}



.element img{
    width: 100%;
    display: block;

}


.head{
    width: 100%;
    height: 100%;
    background-color: pink;
    position: relative

    
}

header{
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
}

#news{
    position: absolute;
    display: block;
    top: 100%;
    right: -15%;
    width: 15%;
    height: 100%;
    background-color: black;
    color: pink;
}

#bio{
    background-color: black;
    height: 100%;
    border: solid 10px pink;
    color: pink;
    padding: 2%;
    font-size: 2rem;
    margin-top: 10rem;
    display: flex;
  align-items: end;

}

.biotext{
    width: 50%;
}

#up{
    color: pink !important;
    text-decoration: none !important;
    text-align: right;
    border: solid;
    right: 2rem;
    font-size: 10rem;
    border-radius: 50%;
    position: absolute;
}

.presentazione p{
    color: black !important;
   
}



#head a:hover{
    text-decoration-line: none;
    -webkit-text-stroke: unset !important;}

a:hover{
    color: pink;
    -webkit-text-stroke: 2px black;
    
}