<!DOCTYPE html>
<html>
    <head>

        <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Lorenzo Ponte</title>

        <meta property="og:url" content="http://lorenzoponte.com">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style.css">

        <style>

            html{
                height: 100%;
            }
            .start{
                width: 100%;
                height: 100%;
                position: relative;
                display: grid;
                grid-template-columns:  auto auto auto;
                justify-items: center;
                align-items: unset;
                justify-content: unset;
            }
        </style>
    </head>
    <body>

        <div id="bioN">            
            <div id="egg" style="position: absolute;
            top: 2rem;
            right: 5rem;
            z-index: -10;
            width: 50%; 
            display: flex; 
            align-items: center; 
            justify-content: center;">
                <img loading='lazy' style="width: 50%;" src="../renzo.png" alt="">
            </div>

            <div>
                <h1>:)</h1>
                {{misc_content.bio}}

                     
            </div>

            <svg class="spastico"  onclick="document.getElementById('bioN').style.display ='none'" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"/>
            </svg>
        </div>

        <div class="head" id="head">
            <div class="menu">
                <div class='site-title'>
                    <a href="#head" id="name">Lorenzo Ponte</a>
                    <div id="toggle" ><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
                        <path d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z"></path></svg>
                    </div>
                </div>

                <div class="burger">
                    <a href="#work" onclick="toggleMenu(false)">Works</a>
                    <a onclick="document.getElementById('bioN').style.display ='flex', toggleMenu(false)" href="#bioN">bio</a>
                    <!-- <a onclick="toggleMenu(false), lightingNews()">calendario</a> -->
                    <a onclick="openFriends(),toggleMenu(false)">friends</a>
                    <a id="lang" href="../">Ita</a>
                </div>
                <div class="desktop">
                    <a href="#work">works</a>
                    <a onclick="document.getElementById('bioN').style.display ='flex'" href="#bioN">bio</a>
                    <!-- <a onclick="lightingNews()">calendario</a> -->
                    <a href="#friends" onclick="openFriends()">friends</a>
                    <a id="lang" href="../">ita</a>
                </div>

                
            </div>

            <div id="fakeBackground"></div>

            <div class="presentazione swiper">
                <div class="swiper-wrapper">

                    {% for pic in gallery_pics %}
                    <div class="swiper-slide">
                        <img src="../galleria/{{pic}}" alt="">
                    </div>
                    {% endfor %}

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>


        </div>



        <div class="menu" id="menu"></div>

        <div id="work">
            <div class="menu categories">
                <a onclick="selectCategory('all')" href="#work"><i>*</i></a>
                {% for category in cms_data.categories %}
                    <a href="#work" onclick="selectCategory('{{ category }}')">{{ category }}</a>
                {% endfor %}
            </div>


            <div class="start">
                <div class="left">
                    {% for project_slug, project_data in cms_data.projects.items() %}
                        {% if loop.index is odd %}
                        <div class="element {{project_data.category}}" data-title="{{project_data.name}}" data-slug="projects/{{project_slug}}/">
                            <a href="../projects/{{project_slug}}/en"><img loading='lazy' src="/projects/{{project_slug}}/assets/compressed/{{project_data.main_picture}}"></a>
                            <h1>{{project_data.name}}</h1>
                        <hr>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="right">
                    {% for project_slug, project_data in cms_data.projects.items() %}
                        {% if loop.index is even %}
                        <div class="element {{project_data.category}}" data-title="{{project_data.name}}" data-slug="projects/{{project_slug}}/">
                            <a href="../projects/{{project_slug}}/en"><img loading='lazy' src="/projects/{{project_slug}}/assets/compressed/{{project_data.main_picture}}"></a>
                            <h1>{{project_data.name}}</h1>
                        <hr>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                
            </div>
        </div>

        <div id="friends">
            <a onclick="closeFriends()" id="closeMenu"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"/></svg>
            </a>
         
    {{misc_content.amici}}
        </div>

        

        <div class="prefooter">
                
            <marquee direction="left" behavior="scroll" class="marquee">
                <span onmouseenter="this.stop();" onmouseleave="this.start();">Software Artisan: 
                    <a target="_blank" href="http://federicoponi.it">Federico Poni</a>
                </span>
                <span>This website is built with plain <a href="">HTML</a>, <a href="">CSS</a> and <a href="http://vanilla-js.com/">plain JavaScript</a>, but we use <a href="https://swiperjs.com/">Swiper.JS</a> library for the galleries</span>
                <span>An artisanal <a href="">Python</a> script is used to <a href="https://en.wikipedia.org/wiki/Static_site_generator">statically generate this website</a> for ecological sake</span>
                <span>Fonts in use: <a target="_blank" href="https://www.collletttivo.it/typefaces/ortica">Ortica</a> and <a target="_blank" href="https://velvetyne.fr/fonts/vg5000/">VG5000</a></span>
            </marquee>
        </div>

        <footer>
            <!-- <marquee direction="left" behavior="scroll" onmouseenter="this.stop();" onmouseleave="this.start();"ontouchstart="this.stop()" ontouchend="this.start()" class="marquee">
      

                <span>19 - 20 Giugno:  <a target="_blank" href="https://smetanovalitomysl.cz/en/udalosti/the-two-widows-a-new-view/">Two widows by Bedřich Smetana at Smetanova Litomyšl </a>                </span>
               
            </marquee> -->

        </footer>

        
        <script src="../scripts/script.js"></script>
        
    </body>
</html>





