<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Lorenzo Ponte</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../style.css">

    <style>
        .head {
            height: 10%;
        }

        @media only screen and (max-width: 900px) {
            .burger {
                flex-direction: column;
            }
        }

        @media only screen and (max-width: 600px) {


            .burger {
                display: none;
                justify-content: space-around;
            }


            .burger div {
                flex-direction: column;
                gap: 0;
                width: 50%;


            }

            .menu a {
                -webkit-text-stroke: 1px black
            }

            .burger div:nth-child(2) a {
                overflow-wrap: break-word;
                font-size: 1rem;
                color: var(--main);
                -webkit-text-stroke: unset;
            }


        }
    </style>
</head>

<body>

    <div id="friends">

        <div id="egg" style="position: absolute;
            top: 2rem;
            right: 5rem;
            z-index: -10;
            width: 50%; 
            display: flex; 
            align-items: center; 
            justify-content: center;">
            <img loading='lazy' style="width: 15%;" src="../../renzo.png" alt="">
        </div>

        <div class="list-friends">
            A list of my friends

            <ul>
                {{misc_content.amici}}
            </ul>
        </div>

        <svg class="spastico" onclick="document.getElementById('friends').style.display ='none'" viewBox="0 0 24 24"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" />
        </svg>
    </div>


    <div class="head" id="head">
        <div class="menu">
            <div class='site-title'>
                <a href="../../" id="name">Lorenzo Ponte</a>
                <div id="toggle"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100"
                        viewBox="0 0 50 50">
                        <path
                            d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z">
                        </path>
                    </svg></div>
            </div>



            <div class="burger">
                <div>
                    <a href="../../#work" onclick="toggleMenu(false)">Lavori</a>
                    <a href="#news" onclick="toggleMenu(false)">Bio</a>
                    <a href="#bio" onclick="toggleMenu(false)">News</a>
                    <a onclick="document.getElementById('friends').style.display ='flex', toggleMenu(false)"
                        href="#friends">Amici</a>
                    <a id="lang" href="en/">ENG</a>
                </div>
                <div class="scrollbar">
                    {% for slug,contents in cms_data.projects.items() %}
                    <a href='../{{slug}}' {% if contents.name==values.name %} class="selected" {% endif
                        %}>{{contents.name}}</a><br>
                    {% endfor %}
                </div>

            </div>
            <div class="desktop">
                <a href="#work">Lavori</a>
                <a href="#news">Bio</a>
                <a href="#bio" onclick="openNews()">News</a>
                <a onclick="document.getElementById('friends').style.display ='flex'" href="#friends">Amici</a>
                <a id="lang" href="en/">ENG</a>
            </div>


        </div>

        </a>
    </div>




    <div class="corpus">

        <div class="index desktop">

            {% for slug,contents in cms_data.projects.items() %}
            <a href='../{{slug}}' {% if contents.name==values.name %} class="selected" {% endif
                %}>{{contents.name}}</a><br>
            {% endfor %}

        </div>

        <div class="content scrollbar">
            <h1>{{values.name}}</h1>


            {{values.video_url}}


            <div class="text_content">
                {{values.html_content_it}}
            </div>

            <div class="grid">
                {% for pic,caption in values.captions_it.items()%}
                <img onclick="openModal()" class="slide" loading='lazy' src="assets/compressed/{{pic}}"
                    alt="{{caption}}">
                {% endfor %}

            </div>


        </div>

    </div>

    </div>
    <div id="fakeBackground"></div>

    <div id="modal">

        <svg id="closemodal" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" />
        </svg>
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for pic,caption in values.captions_it.items() %}
                <div class="swiper-slide">
                    <img loading='lazy' src="assets/{{pic}}" alt="{{caption}}">
                    <span>{{caption}}</span>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->

        </div>
    </div>


    <div id="news">
        <div class="biotext">
            <h1>:)</h1>
            {{misc_content.bio}}
        </div>
        <div class="sticky"><a id="up" href="#head"><span>↑</span></a></div>
    </div>



    <div id='bio'>
        <h1 onclick="closeNews()">
            <a" id="closeMenu"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" />
                </svg></a>
        </h1>
        <ul>
            {{misc_content.news}}
        </ul>

    </div>



    <footer>
        Web Artisan: Federico Poni;

    </footer>
    <script src="../../scripts/script.js"></script>
    <script src="../../scripts/script.work.js"></script>

</body>

</html>